<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform stdoutLogEnabled="false" processesPerApplication="1" stdoutLogFile="fake.log" startupTimeLimit="20" processPath="D:\home\site\wwwroot\packages\FAKE\tools\Fake.exe"
                  arguments="port=%HTTP_PLATFORM_PORT% ">
            <environmentVariables>
              <environmentVariable name="WhateverYouLike" value="GoesHere"/> 
            </environmentVariables>            
        </httpPlatform>
    </system.webServer>
</configuration>